*{
    border:0 ;
    margin: 0;
}


.container-head-principal{
display: flex;
flex-direction: row;
}
.container-head-img{
width: 500px;
height: 300px;
background-color: black;
padding: 15 px;
border-color: black;
border-style: solid
}

.container-head-img> img {
    width: 500px;
    height: 200px;
    border-color: rgb(194, 148, 148);
border-style: solid 

    
    }
.container-head-title{
    background-color: red;
    width: 50%;

    }



header{
    height: 25vh;
    background-color: rgb(136, 0, 255);
}


main{
    height: 50vh;
    background-color: green;
}


footer{
    height: 25vh;
    background-color: blue;
}