.custom-height {
    height: 150px; /* Cambia a la altura deseada */
    width: auto; /* Esto mantiene la proporción */
}


.custom-label {
    color: #010913; /* Color de texto */
    font-weight: bold; /* Negrita */
    font-size: 1.5rem; /* Tamaño de fuente */
}



.ocultar {
    visibility: hidden;
}
.ocultar * {
    visibility: hidden;
}