body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0c9; /* Color de fondo */
}

.container {
    display: flex;
    flex-direction: column; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    min-height: 100vh; /* Altura mínima de la pantalla */
    padding: 20px; /* Espaciado interno */
    background-color: white; /* Color de fondo del contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 90%; /* Ancho del contenedor */
    max-width: 800px; /* Ancho máximo */
    margin: auto; /* Centrando en la página */
}

h1 {
    margin-bottom: 20px; /* Espacio inferior del título */
    text-align: center;
}

ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
}

li {
    margin: 10px 0; /* Espacio entre los ejercicios */
    padding: 15px; /* Espaciado interno */
    background-color: #e0e0e0b4; /* Color de fondo para cada ejercicio */
    border-radius: 4px; /* Bordes redondeados */
}